# Front
VITE_APP_ENV=development
PORT=4200
VITE_APP_NAME=my-space
VITE_APP_VERSION=0.1.0

# Backend
VITE_BACKEND_URL=http://localhost:3000
VITE_API_BASE_URL=/api

# 디버깅용
VITE_ENABLE_MOCK_DATA=true
VITE_TELEMETRY_DISABLED=true
